[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public/mcooper.github.io"]
	path = public/mcooper.github.io
	url = https://github.com/mcooper/mcooper.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/mcooper/mcooper.github.io.git
	branch = master
